<div class="container">
    <div class="row mt-5">
      <div class="col-md-1">
  
      </div>
      <div class="col-md-10">
        <table>
          <tr>
            <th>Piatto </th>
            <th>Bevanda</th>
            <th>Prenotazione</th>
            <th>Data e ora</th>
            <th>Costo totale</th>
            <th>Edit</th>
          </tr>
          <tr>
          <td>
            <select [(ngModel)]="ordinazionetoinsert.piattos[0]">
               <option *ngFor="let piatto of piatti" [ngValue]="piatto" >{{piatto.nomepiatto}}</option>
             </select>
            </td> 
            <td>
            <select [(ngModel)]="ordinazionetoinsert.bevandas[0]">
               <option *ngFor="let bevanda of bevande" [ngValue]="bevanda" >{{bevanda.nomebevanda}}</option>
             </select>
            </td>
            <td>
            <select [(ngModel)]="ordinazionetoinsert.prenotazioneId">
               <option *ngFor="let prenotazione of prenotazioni" [ngValue]="prenotazione.id" >{{prenotazione.id}}</option>
             </select>
            </td>
            <td>
                    <input placeholder="data_ora" [(ngModel)]="ordinazionetoinsert.dataora">
            </td>
            <td>
                    <input placeholder="costo_tot" [(ngModel)]="ordinazionetoinsert.costotot">
            </td>
            <td>
              <button (click)="insert(ordinazionetoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="insert(ordinazionetoinsert)">Insert</button>
            </td>
            <td>
              <button (click)="clear()">Clear</button>
            </td>
          </tr>
          <tr *ngFor="let ordinazione of ordinazioni">
                <td>
                    <select >
                        <option *ngFor="let piatto of ordinazione.piattos" [value]="piatto" >{{piatto.nomepiatto}}</option>
                    </select>
                    
                      
                </td>
                <td>
                    <select >
                        <option *ngFor="let bevanda of ordinazione.bevandas" [value]="bevanda" >{{bevanda.nomebevanda}}</option>
                    </select>
                     
                </td>
                <td>
                    <label >{{ordinazione.prenotazioneId}}</label>
              </td>
                <td>
                    <input  [(ngModel)]="ordinazione.dataora"> 
               </td>
                <td>
                    <input  [(ngModel)]="ordinazione.costotot">
               </td>
            <td>
              <button (click)=update(ordinazione)>Save</button>
            </td>
            <td>
              <button (click)="delete(ordinazione)">Delete</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-1">
  
      </div>
    </div>
  </div>